@model TodoViewModel

<div class="container">
    <div class="header">
        <h1 id="title">Todo List</h1>
        <div id="date"></div>
    </div>
</div>

@section scripts {
    <script>
        const dateElement = document.getElementById("date");
        const options = { weekday: 'long', month: 'short', day: 'numeric' };
        const today = new Date();

        dateElement.innerHTML = today.toLocaleDateString("pt-Br", options)
    </script>
}
